<div class="card" style="width: 18rem;">
    <img [src]="product.payload.val().imgUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.payload.val().title}}</h5>
        <p class="card-text">{{product.payload.val().price | currency:'USD':'symbol'}}</p>
    </div>

    <div class="card-footer" *ngIf="showbutton">
        <button *ngIf="getQuantity() === 0 else productQuantity" (click)="addToCart()"
            class="btn btn-primary btn-block">
            Add to Cart
        </button>

        <ng-template #productQuantity>
            <product-quantity [product]="product.payload.exportVal()" [productId]="product.key" [shoppingCart]="shoppingCart"></product-quantity>
        </ng-template>

    </div>
</div>