<div class="container">

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Shipping Information</span>
            </h4>
            <div class="display-6">
                {{name}}
            </div>
            <div class="display-6">
                <p class="my-0">{{address}}</p>
                <p class="my-0">{{state}} {{zipCode}}</p>
            </div>
            <span class="text-success"></span>

        </div>

        <!-- Billing address -->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Order Id:<p> {{oid}}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:80px"></th>
                        <th>Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-right" style="width:200px">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of orderList">
                        <td>
                            <div [style.backgroundImage]="'url('+product.imgUrl+')'"></div>
                        </td>
                        <td> {{product.title}}</td>
                        <td class="text-center">
                            {{product.quantity}}
                        </td>
                        <td class="text-right">{{product.price | currency:'USD':'symbol' }}</td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">{{orderTotalPrice | currency:'USD':'symbol' }}</th>
                    </tr>
                </tfoot>
            </table>
            <button class="btn btn-primary" [routerLink]="['/admin/admin-orders']">Go Back</button>
            <button class="btn btn-danger" [routerLink]="['/admin/admin-orders']" (click)="removeOrder()"> Delete
                Order</button>
        </div>
    </div>

</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Pengfei Huang</p>
</footer>