<p>
    You have {{productTotalQuantity}} items in your shopping cart
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <ng-container *ngIf="product.quantity !=0"> 
                <td>{{product.title}}</td>
                <product-quantity [product]="product" [productId]="product.key" [shoppingCart]="productList" ></product-quantity>
                <td>{{product.price | currency:'USD':'symbol'  }}</td>
            </ng-container>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>{{totalPrice | currency:'USD':'symbol'}}</th>
        </tr>
    </tfoot>
</table>