<p>
    You have {{productTotalQuantity}} items in your shopping cart
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productIdList">
            <ng-container *ngIf="productList[product].quantity !=0"> 
                <td>{{productList[product].product.title}}</td>
                <td>{{productList[product].quantity}}</td>
                <td>{{productList[product].product.price | currency:'USD':'symbol'  }}</td>
            </ng-container>
           
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>{{totalPrice | currency:'USD':'symbol'}}</th>
        </tr>
    </tfoot>
</table>