<div class="row">
    <div class="col-2">
        <category-filter [category]="category"></category-filter>
    </div>
    <div class="col-7" >
        <div class="row">
            <ng-container *ngFor="let p of filterProduct; let i = index">
                <div class="col">
                    <product-card [product]="p" [showbutton]="true" [shoppingCart]="shoppingCart"></product-card>
                </div>
                <div *ngIf="i % 2" class="w-100"></div>
            </ng-container>

        </div>
    </div>
    <div class="col-3">
        <shopping-cart-items>   </shopping-cart-items>
    </div>
   
</div>